{% load static %}
<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">        

        <title>
            {% block title %}{% endblock title %}
        </title>

        {% block css %}{% endblock css %}

    </head>

    <body>

        {% block content %}{% endblock content %}
        
        {% block js %} 
            <script type="text/javascript" src="{% static 'vue/vue.js' %}"></script>
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        {% endblock js %}

    </body>

</html>